.destination{
    margin:1.2rem 6rem;
}
.heading{
    align-items: center;
    text-align: center;
}
.destination h1{
    font-size: 3rem;
    padding-bottom: 0.2rem;
}
.firstDes{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.6rem;

}
.firstDes.odd{
    flex-direction: row-reverse;
}
.desText{
    width:45%;
    text-align: start;
    font-size: 1.1rem;
}
.desText h2{
    padding-bottom: 1rem;
}
.images{
    position:relative;
    width:50%;
    display:flex;
    justify-content: space-between;
    z-index: -99;
    
}

.images img{
    width:49%;
    height:350px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}
.images img:nth-child(2){
    position:absolute;
    top:-10%;
    right:0;
}
@media screen and (max-width:850px){
    .destination{
        margin:6rem 2rem;
    }
    .firstDes{
        display:flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .desText{
        width: 100%;
    }
    .images{
        width:100%;
        margin:1.8rem 0;
    }
    .firstDes.odd{
        flex-direction: column-reverse;
    }
    .images img{
        height: 250px;
    }
    
}