.footer{
    margin:0;
    background: black;
    color:#fff;
    
    
}
.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    flex-wrap:wrap;
    padding: .5rem;
  
}
.top i{
    color:#fff;
    font-size: 2rem;
    margin-left: 1rem;
    padding-right: 1rem;
}
.top i:hover{
    color:#01919a;
}
@media screen and (max-width:850px){
    .footer{
        margin:4rem 2rem;
    }
    .footer i{
        margin:1rem 1rem 0 0;
    }
}