.homePage{
    width:100%;
    height:100vh;
    position:relative;
}
.mPage{
    width:100%;
    height:60vh;
    position:relative;
    overflow: hidden;

}
img{
    width: 100%;
    height:100vh;
    object-fit: cover;
}
.mainText{
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;

}
.mainText h1{
   background:#fff;
    font-size: 3rem;
    font-weight: 600px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.mainText p{
    color: #fff;
    font-size: 1.2rem;
    padding:0.5rem 0 2rem 0;
}
.show{
    text-decoration: none;
    padding:1rem 2rem;
    border-radius: 6px;
    background: #fff;
    font-size:1.1rem;
    font-weight:bold;
    letter-spacing: 2px;
    color:black;

}
.hide{
    display:none;
}